@use 'reset';
@use 'vars';

* {
  font-family: vars.$font_main;
}

body {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

main {
  height: calc(100vh - 164px);
  overflow: hidden;
  position: relative;
}

.page1 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  .home {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    margin: auto;
    .home__header {
      position: relative;
      z-index: 5;
      margin-bottom: 20px;
      .home__header__title {
        margin-top: 0;
        font-weight: 100;
        text-align: center;
        font-size: 110px;
      }
      .home__header__slogan {
        font-size: 40px;
        font-weight: 100;
        margin-top: 20px;
        text-align: center;
        color: vars.$color4;
        span {
          color: black;
        }
      }
      
    }
    .home__container {
      width: 100%;
      height: 80%;
      display: flex;
      justify-content: center;
      align-items: center;
      .container__present {
        padding: 10px;
        width: 50%;
        margin-bottom: 200px;
  
        .presentation__img {
          height: 107px;
        }
        .presentation__title {
          font-weight: 100;
          margin-top: 25px;
          font-size: 36px;
          font-family: vars.$font_second;
          position: relative;
        }
        .presentation__para {
          font-weight: 100;
          margin-top: 20px ;
          font-size: 23px;
          line-height: 1.7em;
          max-width: 650px;
        }
      }
      .container__img {
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        img{
          position: relative;
          height: 100%;
          transform: scale(1.2) translateY(-70px);
          bottom: -20px;
          z-index: 1;
        }
      }
      
    }
  }  
  .winery {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
}

.page3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: vars.$color6;
  .page3__header {
    .header__img {
      width: 110px;
      display: block;
      margin: auto;
    }
    .header__title {
      text-align: center;
      font-family: vars.$font_second;
      margin-top: 60px;
      font-size: 36px;
    }
  }
  .page3__section {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    .section__testing {
      margin: 20px 40px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .testing__imgContainer {
        width: 200px;
        height: 200px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 4px;
        padding-right: 4px;
        .testing__img {
          height: 80%;
          width: 80%;
          border-radius: 50%;
          filter: sepia(130%) saturate(123%);
          transition: 0.5s;
          &:hover {
            filter: sepia(0) saturate(100%);
          }
        }
      }
      .testing__title {
        margin-top: 20px;
        font-size: 20px;
        text-align: center;
        font-weight: 100;
      }
    }
  }
}

.video__container {
  width: 100%;
  height: calc(100vh - 164px);
  position: relative;
  .video__play {
    position: absolute;
    cursor: pointer;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 145px;
    width: 145px;
      img {
        display: block;
        width: 100%;
        height: 100%;
        transition: 0.8s;
        &:hover {
          transform: scale(1.1);
        }
      }
  }
}

.video--vanish {
  animation: videoVanish 0.8s forwards;
}

.button__song {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 170px;
  bottom: 40px;
  background-color: White;
  border: none;
  color: white;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  font-size: 2rem;
  img {
    height: 50%;
    width: 50%;
  }
}

.button__song--muted {
  border : solid 2px vars.$color6;
  span {
    position: absolute;
    transform: rotate(-25deg);
    display: block;
    height: 4px;
    width: 60px;
    background-color: vars.$color6;
  }
}

.page__nav {
  height: calc(100vh - 164px);
  background-size: contain;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.555);
  .nav__white {
    background-color: white;
    opacity: 0.6;
  }
}

.page__nav--appear {
  animation: navAppear 0.8s forwards;
}

.button__container {
  border: 2px solid vars.$color6;;
  position: absolute;
  z-index: 40;
  padding: 8px;
  background-color: rgba(240, 248, 255, 0);
  &:after {
    content:'\00279D';
    display: block;
    position: absolute;
    left: 100%;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2rem;
    font-weight: 100;
    opacity: 0;
    transition: 0.6s;
  }

  &:hover .button{
    box-shadow: 1px 1px 4px black;
  }
}

.button__container--hover {
  &:hover:after {
    opacity: 1;
  }
}

.button__container--winery {
  top: 50%;
  left: 50%;
  transform: translate(-125px, -50%);
}
.button__container--winery--en {
  transform: translate(-115px, -50%);
}
.button__container--replay {
  top: 50%;
  right: 50%;
  transform: translate( 130px , calc(-50% - 40px));
  cursor: pointer;
  &:after {
    content:'\00279D';
    display: block;
    position: absolute;
    left: 0;
    right: 100%;
    top: 50%;
    transform: rotate(180deg) translateY(50%);
    font-size: 2rem;
    font-weight: 100;
    opacity: 0;
  }
}
.button__container--next {
  top: 50%;
  left: 50%;
  transform: translate(-130px, calc(-50% + 78px));
}

.button {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 28px;
  padding: 10px 0 10px 35px;
  background-color: vars.$color4;
  font-family: vars.$font_second;
  color: vars.$color6;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.486);
}
.button--buzet {
  padding-left: 42px;
}
.button--winery {
  padding-left: 60px;
}
.button--replay {
  justify-content: flex-end;
  padding-right: 67px;
}
.button--replay--en {
  padding-right: 72px;
}
.button--next {
  padding-left: 85px;
}
.button--next--en {
  padding-left: 98px;
}

.button--opacity {
  overflow: hidden;
  position: absolute;
  top: 6px;
  left: 6px;
  opacity: 0;
  width: 490px;
  background:none;
  border: none;
  box-shadow: none;
  animation: opacityWinery 0.8s forwards;
}
.button--opacity2 {
 animation: opacityHome 0.8s forwards;
}

.header {
  border-top: 10px solid vars.$color4;
  height: 124px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: vars.$color6;
  .header__img {
    height: 84px;
    margin-left: 140px;
  }
  .header__title {
    font-weight: 500;
    font-size: 23px;
    font-family: vars.$font_second;
    .title__separator {
      color: vars.$color4
    }
    .title__slogan {
      font-weight: 100;
      font-size: 23px;
      font-family: vars.$font_main;
    }
  }
  .header__nav {
    margin-right: 165px;
    font-size: 23px;
    .nav__button {
      border: none;
      background: none;
      font-weight: 100;
      font-size: 20px;
      padding: 4px;
    }
    .nav__button--selected {
      font-weight: 500;
      color: vars.$color6;
      &:after {
        content: '';
        display: block;
        height: 2px;
        width: 100%;
        background-color: vars.$color4;
      }
    }
  }
}
.footer {
  height: 40px;
  color: white;
  background: vars.$color6;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  font-family: 'Roboto';
  &__para {
    text-transform: uppercase;
    font-weight: 100;
    font-size: 15px;
  }
  &__link {
    position: absolute;
    font-weight: bold;
    right: 50px;
    top: 50%;
    transform: translateY(-50%);
    transform:  0.5s;
    &:hover {
      text-decoration: underline;
    }
  }
}

@keyframes opacityWinery {
 from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes opacityHome {
  from {
     opacity: 1;
   }
   to {
     opacity: 0;
   }
 }

@keyframes videoVanish {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes navAppear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
 
@media (max-width: 1300px) {
  .page1 {
    .home{
      .home__header {
        .home__header__title {
          font-size: 4em;
        }
      }
      .home__container {
        display: block;
        position: relative;
        
        .container__img {
          img {
            transform: scale(1);
          }
        }
        .container__present {
          align-items: center;
          width: auto;
          max-width: 900px;
          position: absolute;
          left: 20%;
          top: 40%;
          transform: translateY(-50%);
          z-index: 40;
          background-color: rgba(255, 255, 255, 0.63);
  
        }
      }
    }
  }
  .header {
    padding: 10px;
  }
}

@media (max-width: 600px) {
  .main {
    height: calc(100vh - 110px);
    
  }
  .page1 {
    .home{
      .home__header {
        .home__header__title {
          font-size: 3em;
        }
        .home__header__slogan {
          font-size: 1em;
        }
      }
      .home__container {
        display: block;
        position: relative;
        
        .container__img {
          img {
            transform: scale(1);
          }
        }
        .container__present {
          align-items: center;
          justify-content: flex-start;
          width: 90%;
          position: absolute;
          left: 50%;
          top: 40%;
          transform: translate(-50%, -50%);
          margin-bottom: 0;
          .presentation__title {
            font-size: 1.5em;
            text-align: center;
          }
          .presentation__para {
            width: 90%;
            margin-top: 15px;
            font-size: 1.4em;
            line-height: 1em;
            text-shadow: 0px 0px 1px black ;
          }
          .presentation__img {
            height: 70px;
          }
        }
      }
    }
  }
  .header {
    padding: 10px;
    height: 80px;
    .header__img {
      height: 60px;
      width: 60px;
    }
    .header__title {
      font-size: 1em;
      text-align: center;
      .title__separator {
        display: none;
      }
      .title__slogan {
        display: block;
        font-size: 0.8em;
      }
    }
    .header__nav {
      height: 60px;
      font-size: 0.8em;
      text-align: center;

    }
  }
  .footer {
    height: 30px;
  }
  .button__container {
    .button {
      padding: 10px 5px;
      text-align: center;
      justify-content: center;
      font-size: 1.4em;
      font-weight: 600;
    }
  }
}



/* 
  // or you can import your own font
  @font-face {
    font-family: 'Roboto';
    src: url('../assets/fonts/Roboto-Regular.ttf');
  }

  body {
    font-family: 'Roboto', sans-serif;
  }
*/
