@use 'reset';
@use 'vars';



body {
  font-family: sans-serif;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

main {
  height: calc(100vh - 110px);
  overflow: hidden;
  position: relative;
}

.page1 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  .home {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    margin: auto;
    .home__header {
      position: relative;
      z-index: 5;
      margin-bottom: 20px;
      .home__header__title {
        font-weight: 800;
        text-align: center;
        font-size: 8em;
        font-family: serif;
      }
      .home__header__slogan {
        font-size: 2em;
        text-align: center;
        color: vars.$mainColor;
        span {
          color: black;
        }
      }
      
    }
    .home__container {
      width: 100%;
      height: 80%;
      display: flex;
      justify-content: center;
      align-items: center;
      .container__present {
        padding: 10px;
        width: 50%;
        margin-bottom: 200px;
  
        .presentation__img {
          height: 120px;
        }
        .presentation__title {
          margin-top: 20px;
          font-family: serif;
          font-size: 2em;
          font-weight: 800;
          position: relative;
        }
        .presentation__para {
          margin-top: 1em ;
          font-size: 1.5em;
          line-height: 1.5em;
          max-width: 650px;
        }
      }
      .container__img {
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        img{
          position: relative;
          height: 100%;
          transform: scale(1.1) translateY(-70px);
          z-index: 1;
        }
      }
      
    }
  }  
  .winery {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
}

.page3 {
  .page3__header {
    margin-top: 60px;
    .header__img {
      height: 100px;
      display: block;
      margin: auto;
    }
    .header__title {
      text-align: center;
      margin-top: 40px;
      font-size: 2em;
    }
  }
  .page3__section {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    .section__testing {
      margin: 30px;
      .testing__imgContainer {
        display: block;
        background-color: brown;
        padding: 20px;
        border-radius: 50%;
        .testing__img {
          display: block;
          width: 200px;
          height: 200px;
          border-radius: 50%;
          filter: sepia(130%) saturate(123%);
          transition: 0.5s;
          &:hover {
            filter: sepia(0) saturate(100%);
          }
        }
      }
      .testing__title {
        margin-top: 40px;
        font-size: 1.2em;
        text-align: center;
        font-weight: 100;
      }
    }
  }
}

.video__container {
  width: 100%;
  height: calc(100vh - 110px);
  position: relative;
  .video__play {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 80px;
    width: 80px;
    border-radius: 50%;
    border: 8px solid black
  }
}

.video--vanish {
  animation: videoVanish 0.8s forwards;
}

.button__muted {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 30px;
  bottom: 55px;
  background-color: vars.$mainColor;
  border: solid 4px white;
  color: white;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  font-size: 2rem;
}

.page__nav {
  height: calc(100vh - 110px);
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.page__nav--appear {
  animation: navAppear 0.8s forwards;
}

.button__container {
  border: 2px solid black;
  position: absolute;
  z-index: 40;
  padding: 6px 6px;
  background-color: rgba(240, 248, 255, 0);
  &:after {
    content:'\00279D';
    display: block;
    position: absolute;
    right: -25px ;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2rem;
    font-weight: 100;
    opacity: 0;
    transition: 0.6s;
  }

  &:hover .button{
    box-shadow: 1px 1px 4px black;
  }
}

.button__container--hover {
  &:hover:after {
    opacity: 1;
  }
}

.button__container--winery {
  top: 50%;
  left: 50%;
  transform: translate(-125px, -50%);
}
.button__container--winery--en {
  transform: translate(-115px, -50%);
}
.button__container--replay {
  top: 50%;
  right: 50%;
  transform: translate( 130px , calc(-50% - 40px));
  cursor: pointer;
  &:after {
    content:'\00279D';
    display: block;
    position: absolute;
    left: -25px ;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2rem;
    font-weight: 100;
    opacity: 0;
  }
}
.button__container--next {
  top: 50%;
  left: 50%;
  transform: translate(-130px, calc(-50% + 78px));
}

.button {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 2em;
  padding: 10px 0 10px 28px;
  background-color: vars.$mainColor;
  box-shadow: 1px 1px 2px black;
}
.button--winery {
  padding-left: 53px;
}
.button--replay {
  justify-content: flex-end;
  padding-right: 67px;
}
.button--replay--en {
  padding-right: 72px;
}

.button--next {
  padding-left: 85px;
}
.button--next--en {
  padding-left: 98px;
}

.button--opacity {
  overflow: hidden;
  position: absolute;
  top: 6px;
  left: 6px;
  opacity: 0;
  width: 490px;
  background:none;
  border: none;
  box-shadow: none;
  animation: opacityWinery 0.8s forwards;
}
.button--opacity2 {
 animation: opacityHome 0.8s forwards;
}

.header {
  border-top: 8px solid vars.$mainColor;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  .header__img {
    height: 70px;
  }
  .header__title {
    font-weight: 800;
    font-size: 1.6em;
    font-family: serif;
    .title__separator {
      color: vars.$secondColor
    }
    .title__slogan {
      font-family: sans-serif;
      font-weight: 300;
      font-size: 1.2rem;
    }
  }
  .header__nav {
    .nav__button {
      border: none;
      background: none;
      font-size: 1.2em;
    }
    .nav__button--selected {
      font-weight: 800;
      &:after {
        content: '';
        display: block;
        height: 2px;
        width: 100%;
        background-color: vars.$mainColor;
      }
    }
  }
}
.footer {
  height: 30px;
  color: white;
  background: rgb(42, 25, 2);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  &__para {
    text-transform: uppercase;
  }
  &__link {
    position: absolute;
    right: 50px;
    top: 50%;
    transform: translateY(-50%);
  }
}

@keyframes opacityWinery {
 from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes opacityHome {
  from {
     opacity: 1;
   }
   to {
     opacity: 0;
   }
 }

@keyframes videoVanish {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes navAppear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
 
@media (max-width: 1300px) {
  .page1 {
    .home{
      .home__header {
        .home__header__title {
          font-size: 4em;
        }
      }
      .home__container {
        display: block;
        position: relative;
        
        .container__img {
          img {
            transform: scale(1);
          }
        }
        .container__present {
          align-items: center;
          width: auto;
          max-width: 900px;
          position: absolute;
          left: 20%;
          top: 40%;
          transform: translateY(-50%);
          z-index: 40;
          background-color: rgba(255, 255, 255, 0.63);
  
        }
      }
    }
  }
  .header {
    padding: 10px;
  }
}

@media (max-width: 600px) {
  .main {
    height: calc(100vh - 110px);
    
  }
  .page1 {
    .home{
      .home__header {
        .home__header__title {
          font-size: 3em;
        }
        .home__header__slogan {
          font-size: 1em;
        }
      }
      .home__container {
        display: block;
        position: relative;
        
        .container__img {
          img {
            transform: scale(1);
          }
        }
        .container__present {
          align-items: center;
          justify-content: flex-start;
          width: 90%;
          position: absolute;
          left: 50%;
          top: 40%;
          transform: translate(-50%, -50%);
          margin-bottom: 0;
          .presentation__title {
            font-size: 1.5em;
            text-align: center;
          }
          .presentation__para {
            width: 90%;
            margin-top: 15px;
            font-size: 1.4em;
            line-height: 1em;
            text-shadow: 0px 0px 1px black ;
          }
          .presentation__img {
            height: 70px;
          }
        }
      }
    }
  }
  .header {
    padding: 10px;
    height: 80px;
    .header__img {
      height: 60px;
      width: 60px;
    }
    .header__title {
      font-size: 1em;
      text-align: center;
      .title__separator {
        display: none;
      }
      .title__slogan {
        display: block;
        font-size: 0.8em;
      }
    }
    .header__nav {
      height: 60px;
      font-size: 0.8em;
      text-align: center;

    }
  }
  .footer {
    height: 30px;
  }
  .button__container {
    .button {
      padding: 10px 5px;
      text-align: center;
      justify-content: center;
      font-family: serif;
      font-size: 1.4em;
      font-weight: 600;
    }
  }
}



/* 
  // or you can import your own font
  @font-face {
    font-family: 'Roboto';
    src: url('../assets/fonts/Roboto-Regular.ttf');
  }

  body {
    font-family: 'Roboto', sans-serif;
  }
*/
