@use 'reset';
@use 'vars';

* {
  font-family: vars.$font_main;
}

body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

main {
  height: calc(100vh - 164px);
  overflow: hidden;
  position: relative;
}

.page1{
  display: flex;
  align-items: center;
  justify-content: center;
  .home {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    margin: auto;
    .home__header {
      position: relative;
      z-index: 5;
      margin-bottom: 20px;
      .home__header__title {
        margin-top: 0;
        font-weight: 100;
        text-align: center;
        font-weight: 800;
        font-family: vars.$font_second;
        font-size: 9vmin;
      }
      .home__header__slogan {
        font-size: 3vmin;
        font-weight: 100;
        margin-top: 20px;
        text-align: center;
        color: vars.$color4;
        span {
          color: black;
        }
      }
      
    }
    .home__container {
      width: 100%;
      height: 80%;
      display: flex;
      justify-content: center;
      align-items: center;
      .container__present {
        padding: 10px;
        width: 50%;
        margin-bottom: 150px;
  
        .presentation__img {
          height: 10vmin;
        }
        .presentation__title {
          font-weight: 100;
          margin-top: 1.2vw;
          font-size: 2.5vmin;
          font-weight: 800;
          font-family: vars.$font_second;
          position: relative;
        }
        .presentation__para {
          font-weight: 100;
          margin-right: 20%;
          margin-top: 20px ;
          font-size: 1.8vmin;
          line-height: 1.7em;
          max-width: 850px;
        }
      }
      .container__img {
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        img{
          position: relative;
          height: 100%;
          max-width: 700px;
          transform: scale(1.2)  translateY(-70px);
          bottom: -20px;
          z-index: 1;
        }
      }
      
    }
  }  
  .winery {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
}

.page3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: vars.$color6;
  .page3__header {
    .header__img {
      width: 110px;
      display: block;
      margin: auto;
    }
    .header__title {
      text-align: center;
      font-family: vars.$font_second;
      font-weight: 800;
      margin-top: 60px;
      font-size: 36px;
    }
  }
  .page3__section {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    .section__testing {
      margin: 1vw 2vmax;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .testing__imgContainer {
        width: 200px;
        height: 200px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 4px;
        padding-right: 4px;
        .testing__img {
          height: 80%;
          width: 80%;
          border-radius: 50%;
          filter: sepia(100%) grayscale(12%) brightness(0.80);
          transition: 0.5s;
          &:hover {
            filter: sepia(0) grayscale(0) brightness(1);
          }
        }
      }
      .testing__title {
        margin-top: 20px;
        font-size: 20px;
        text-align: center;
        font-weight: 100;
      }
    }
  }
}

.page4 {
  display: flex;
  .association__aside {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      display: block;
      height: 70%;
    }
  }
  .association__container {
    padding: 30px 0 150px 0  ;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    
    h1 {
      font-family: vars.$font_second;
      font-weight: 800;
      font-size: 3vw;
      line-height: 3.4vw;
    }
    .association__logo {
      width: 5.5vw;
      margin: 2vw 0 ;
    }
    .association__title {
      font-weight: 700;
      font-family: vars.$font_second;
      max-width: 850px;
      font-size: 1.9vw;
      margin-right: 20%;
    
    }
    .association__para {
      font-weight: 100;
      margin-right: 20%;
      margin-top: 20px ;
      font-size: 1vw;
      line-height: 1.8vw;
      max-width: 850px;
    }
  }
}

.page5 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .page5__container {
    width: 100%;
    img {
      display: block;
      width: 110px;
      margin: 0 auto 60px auto;
      opacity: 0.5;
    }
    .container__subtitle {
       font-size: 2.5vmin;
       font-size: 100;
       width: 100%;
       text-align: center;
       font-weight: 100;
       color: vars.$color6;
       span {
        color: vars.$color4;
       }
    }
    .container__title {
      width: 100%;
      text-align: center;
      margin-top: 20px;
      font-size: 4vmin;
      font-weight: 800;
      font-family: vars.$font_second;
    }
  }
  .page5__nav {
    position: relative;
    margin:  0 auto 5% auto ;
    display: flex;
    justify-content: space-evenly;
    z-index: 500;
    width: 50%;
    transform: scale(1);
   
    .nav__link {
      &:hover {
        transform: scale(1.1);
      }
      width: 80px;
      transition: 0.6s;
   
      img{
        display: block;
        width: 100%;
      }
    }
  }

  .page5__img {
    position: absolute;
    bottom: 15px;
    padding: 0 5% ;
    width: 100%;
    display: flex;
    justify-content: space-between;
    img {
    width: 20vw;
    }
  }
}

.page404 {
  .page404__container {
    height: 100%;
    width: 100%;
    display: flex;
    .container__img {
      width: 50%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        height: 100%;
      }
    }
    .container__text {
      height: 100%;
      width: 50%;
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      justify-content: center;
      color: vars.$color6;
      .text__title {
        max-width: 500px;
        font-family: vars.$font_second;
        font-size: 2.5vw;
        line-height: 3.5vw;
        span {
          display: block;
          margin-bottom: 1.5vmax;
          color: vars.$color4;

        }
      }
      .text__para {
        width: 80%;
        margin: 2.5vmax 0;
        font-family: vars.$font_main;
        font-weight: 100;
        line-height: 1.5vw;
        font-size: 1.1vw;
      }
    }

  }

}

.pageMentions {
  overflow-y: scroll;
  color: vars.$color6;
  .container__mentions {
    header {
      margin-top: 80px;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      img{
        width: 78px;
      }
      .header__imgLeft {
        transform-origin: center ;
         transform: rotate(275deg);
      }
      .mentions__title {
        margin: 0 60px;
        font-size: 60px;
        font-family: vars.$font_second;
        p {
          font-size: 23px;
          font-family: vars.$font_main;
          font-weight: 100;
          font-style: italic;
          margin-top: 0.5em;
        }
      }
    }
    .mentions__contain {
      margin: 80px auto;
      width: 80%;
      .contain__title {
        font-family: vars.$font_second;
        font-size: 30px;
        margin: 40px 0;
      }
      .contain__para {
        margin: 20px auto;
        font-family: vars.$font_main;
        font-size: 20px;
        line-height: 25px;
        font-weight: 100;
      }

    }

  }
}

.video__container {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  .video__play {
    position: absolute;
    cursor: pointer;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 145px;
    width: 145px;
      img {
        display: block;
        width: 100%;
        height: 100%;
        transition: 0.8s;
        &:hover {
          transform: scale(1.1);
        }
      }
  }
}

.video--vanish {
  animation: videoVanish 0.8s forwards;
}

.button__song {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 5%;
  bottom: 3%;
  background-color: White;
  border: none;
  color: white;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  font-size: 2rem;
  img {
    height: 50%;
    width: 50%;
  }
}

.button__song--muted {
  border : solid 2px vars.$color6;
  span {
    position: absolute;
    transform: rotate(-25deg);
    display: block;
    height: 4px;
    width: 60px;
    background-color: vars.$color6;
  }
}

.page__nav {
  height: calc(100vh - 164px);
  width: 100%;
  top: 0;
  left: 0;
}

.button__container {
  border: 2px solid vars.$color6;;
  position: absolute;
  z-index: 40;
  padding: 8px;
  background-color: rgba(240, 248, 255, 0);
  &:after {
    content:'\00279D';
    display: block;
    position: absolute;
    left: 100%;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2rem;
    font-weight: 100;
    opacity: 0;
    transition: 0.6s;
  }

  &:hover .button{
    box-shadow: 1px 1px 4px black;
  }
}

.button__container--hover {
  &:hover:after {
    opacity: 1;
  }
}

.button__container--winery {
  top: 50%;
  left: 50%;
  transform: translate(-100px, -50%);
}
.button__container--replay {
  top: 50%;
  right: 50%;
  transform: translate( 190px , calc(-50% - 40px));
  cursor: pointer;
  &:after {
    content:'\00279D';
    display: block;
    position: absolute;
    left: 0;
    right: 100%;
    top: 50%;
    transform: rotate(180deg) translateY(50%);
    font-size: 2rem;
    font-weight: 100;
    opacity: 0;
  }
}
.button__container--next {
  top: 50%;
  left: 50%;
  transform: translate(-190px, calc(-50% + 78px));
}

.button__container--testing {
  bottom: 7%;
  left: 80%;
}

.button__container--visite {
  position: relative;
  margin: 5%;
  &:after {
    content:'';
  }
}

.button {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  font-size: 25px;
  font-weight: 100;
  padding: 10px 0 10px 35px;
  background-color: vars.$color4;
  font-family: vars.$font_second;
  color: vars.$color6;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.486);
}
.button--buzet {
  font-size: 16px;
  padding-left: 20px;
}
.button--winery {
  padding-left: 57px;
}
.button--winery--en {
  padding-left: 80px;
}
.button--replay {
  justify-content: flex-end;
  padding-right: 70px;
}
.button--replay--en {
  padding-right: 60px;
}
.button--next {
  padding-left: 150px;
}
.button--next--en {
  padding-left: 155px;
}
.button--thx {
  padding-left: 70px;
}
.button--thx--en {
  padding-left: 43px;
}
.button--404--en {
  padding-left: 75px;
}

.button--visite {
  display: block;
  text-align: center;
  padding: 10px 0;
}

.button--opacity {
  overflow: hidden;
  position: absolute;
  top: 6px;
  left: 6px;
  opacity: 0;
  width: 250px;
  background:none;
  border: none;
  box-shadow: none;
  animation: opacityWinery 0.8s forwards;
}
.button--opacity2 {
 animation: opacityHome 0.8s forwards;
}

.header {
  border-top: 10px solid vars.$color4;
  height: 124px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: vars.$color6;
  .header__img {
    height: 84px;
    margin-left: 5%;
  }
  .header__title {
    font-weight: 500;
    font-size: 2.8vh;
    font-family: vars.$font_second;
    font-weight: 800;
    .title__separator {
      color: vars.$color4
    }
    .title__slogan {
      font-weight: 100;
      font-size:  2.8vh;
      font-family: vars.$font_main;
    }
  }
  .header__nav {
    margin-right: 5%;
    font-size: 23px;
    .nav__button {
      border: none;
      background: none;
      font-weight: 100;
      font-size: 20px;
      padding: 4px;
    }
    .nav__button--selected {
      font-weight: 500;
      color: vars.$color6;
      &:after {
        content: '';
        display: block;
        height: 2px;
        width: 100%;
        background-color: vars.$color4;
      }
    }
  }
}
.footer {
  height: 40px;
  color: white;
  background: vars.$color6;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  font-family: 'Roboto';
  &__para {
    text-transform: uppercase;
    font-weight: 100;
    font-size: 1.5vh;
  }
  &__link {
    position: absolute;
    font-weight: bold;
    right: 10%;
    top: 50%;
    transform: translateY(-50%);
    transition: 0.5s;
    &:hover {
      text-decoration: underline;
    }
  }
}
.loader {
  height: 100vh;
  width: 100%;
  background-color: rgb(250, 248, 239);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3000;
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
  }

}


@keyframes opacityWinery {
 from {
    opacity: 0;
    height: 55px;
  }
  to {
    opacity: 1;
    height: 50px;
  }
}

@keyframes opacityHome {
  from {
     opacity: 1;
   }
   to {
     opacity: 0;
   }
 }

@keyframes videoVanish {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@media (max-width: 1024px) {
  .header {
    .header__title {
      font-weight: 500;
      font-size: 2.8vh;
      font-family: vars.$font_second;
      text-align: center;
      .title__separator {
        color: vars.$color4
      }
      .title__slogan {
        margin-top: 10px;
        font-weight: 100;
        font-size:  2.8vh;
        font-family: vars.$font_main;
        display: block;
      }
    }
  }
  .footer {
    height: 40px;
    color: white;
    background: vars.$color6;
    align-items: center;
    justify-content: space-evenly;
    font-family: 'Roboto';
    &__para {
      text-transform: uppercase;
      font-weight: 100;
    }
    &__link {
      display: block;
      position: unset;
      transform: none;
      font-weight: bold;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  .page1{
    .home {
      .home__container {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        .container__present {
          padding: 10px;
          width: 50%;
          margin-bottom: 200px;
        }
        .container__img {
          width: 50%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          img{
            position: relative;
            height: 90%;
            max-height: 600px;
            transform: scale(1)  translateY(-90px);
            bottom: -20px;
            z-index: 1;
          }
        }
      }
      
    }  
  .winery {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
}
  .page3 {
    .page3__header {
      .header__title {
        text-align: center;
        font-family: vars.$font_second;
        margin-top: 60px;
        font-size: 25px;
      }
    }
    .page3__section {
      margin-top: 50px;
      .section__testing {
        .testing__imgContainer {
          width: 160px;
          height: 160px;
        }
        .testing__title {
          margin-top: 20px;
          font-size: 15px;
          text-align: center;
          font-weight: 100;
        }
      }
    }
  }
  .button {
    font-size: 16px;
    font-weight: 500;
    padding: 10px 0 10px 15px;
  }
  .button--opacity {
    overflow: hidden;
    position: absolute;
    top: 6px;
    left: 6px;
    opacity: 0;
    width: 300px;
    background:none;
    border: none;
    box-shadow: none;
    animation: opacityWinery 0.8s forwards;
  }
  .button--thx {
    padding-left: 45px;
  }
  .button--thx--en {
    padding-left: 25px;
  }
  .button--replay {
    justify-content: flex-end;
    padding-right: 50px;
  }
  .button--replay--en {
    padding-right: 40px;
  }
  .button--next {
    padding-left: 100px;
  }
  .button--next--en {
    padding-left: 110px;
  }
  .page4 {
    display: flex;
    .association__aside {
      width: 50%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        display: block;
        width: 70%;
        height: auto;
      }
    }
  }
  .button__container--replay {
    top: 50%;
    right: 50%;
    transform: translate( 130px , calc(-50% - 40px));
    cursor: pointer;
    &:after {
      content:'\00279D';
      display: block;
      position: absolute;
      left: 0;
      right: 100%;
      top: 50%;
      transform: rotate(180deg) translateY(50%);
      font-size: 2rem;
      font-weight: 100;
      opacity: 0;
    }
  }
  .button__container--next {
    top: 50%;
    left: 50%;
    transform: translate(-130px, calc(-50% + 78px));
  }
  .button--winery {
    padding-left: 60px;
  }
  .button--winery--en {
    padding-left: 70px;
  }
}