@use 'vars';

html {
  height: -webkit-fill-available;
}
body {
  padding: 0;
  margin: 0;
  min-height: 100vh;
}

/* Avoid Chrome to see Safari hack */
@supports (-webkit-touch-callout: none) {
  body {
    /* The hack for Safari */
    min-height: -webkit-fill-available;
  }
}
  .main--mobile {
    main { min-height: calc(100vh - 70px)}
    .page1{
      .home {
        overflow-y: scroll;
        overflow-x: hidden;
        .home__header {
          margin: 15px 0 0 0 ;
          .home__header__title {
            font-size: 25px;
            margin-top: 4vmin;
          }
          .home__header__slogan {
            font-size: 13px;
            margin-top: 1vh;
      
            span {
              color: black;
            }
          }
          
        }
        .home__container {
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          position: relative;
          top: 50%;
          transform: translateY(-50%);
          height: 75%;
          margin:  auto;
          width: 100%;
          .container__present {
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin:0 auto 50px auto;
            padding: 0px ;
            width: 90%;
      
            .presentation__img {
              display: none;
            }
            .presentation__title {
              font-weight: 100;
              margin: 15px 0;
              font-size: 5vmin;
              font-family: vars.$font_second;
              text-align: center;
            }
            .presentation__para {
              font-weight: 100;
              font-size: 3vmin;
              line-height: 1.7em;
              max-width: 700px;
              margin: 10px 0 5px;
            }
          }
          .container__img {
            height: 40%;
            width: 90%;
            display: flex;
            align-items: center;
            justify-content: center;
            img{
              position: relative;
              height: 100%;
              width: auto;
              transform: scale(1.2)  translateY(0px);
              bottom: 0px;
              z-index: 1;
            }
          }
          
        }
      }  
      .winery {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
      }
    }
    
    .page3 {
      display: flex;
      flex-direction: column;
      justify-content:center;
      color: vars.$color6;
      overflow-y: scroll !important;
      .page3__header {
        height: auto;
        .header__img {
          width: 90px;
          height: auto;
        }
        .header__title {
          text-align: center;
          font-family: vars.$font_second;
          font-weight: 800;
          margin-top: 30px;
          font-size: 20px;
        }
      }
      .page3__section {
        margin: 30px 0 0px;
        max-width: 580px;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        overflow-x: scroll;
    
        .section__testing {
          margin-left: 70px;
          margin-top: 0px;
          .testing__imgContainer {
            flex-shrink: 2;
            width: 190px;
            height: 190px;
            display: flex;
            align-items: center;
            justify-content: center;
            padding-bottom: 2px;
            padding-right: 2px;
            position: relative;
            .testing__img {
              height: 80%;
              width: 80%;
              border-radius: 50%;
              filter: sepia(100%) grayscale(12%) brightness(0.80);
              transition: 0.5s;
              &:hover {
                filter: sepia(0) grayscale(0) brightness(1);
              }
            }
          }
          .testing__title {
            margin-top: 20px;
            font-size: 15px;
            height: 50px;
            text-align: center;
            font-weight: 100;
          }
        }
      }
    }

    .page4 {
      display: block;
      width: 80%;
      overflow-y: scroll;
      margin: auto;
      .association__logo {
        display: block;
        height: 90px;
        width:  90px;
        margin: 30px auto;
      }
      h1 {
        font-family: vars.$font_second;
        font-weight: 800;
        font-size: 20px;
        line-height: 25px;
      }
      .association__aside {
        width: 100%;
        height: 50%;
        display: flex;      
        align-items: center;
        justify-content: center;
        img {
          display: block;
          height: 70%;
          width: auto;
        }
      }
      .association__container {
        padding: 30px 0 20px 0  ;
        width: auto;
        display: block;
        
        .association__title {
          font-weight: 700;
          font-family: vars.$font_second;
          max-width: 850px;
          font-size: 17px;
          margin: auto;
        
        }
        .association__para {
          font-weight: 100;
          margin: 20px auto;
          font-size: 14px;
          line-height: 18px;
          max-width: 850px;
        }
      }
    }
    .page5 {
      display: block;
      width: 100%;
      overflow: scroll;
      .page5__content {
        
      }
      .page5__container {
          margin-top: 50px;
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
        img {
          display: block;
          margin-bottom: 10px;
          width: 90px;
          opacity: 1;

        }
        .container__subtitle {
           font-size: 18px;
        }
        .container__title {
          width: 100%;
          text-align: center;
          margin: 20px auto 20px;
          font-size: 25px;
        }
      }
      .page5__nav {
        width: 50%;
        position: relative;
        margin:  20px auto ;
        display: flex;
        justify-content: space-evenly;
        z-index: 500;
        .nav__link {
          &:hover {
            transform: scale(1.1);
          }
          width: 30px;
          transition: 0.6s;
       
          img{
            display: block;
            width: 100%;
          }
        }
      }
      .page5__img {
        position: static;
        width: 100%;
        display: block;
        img {
        display: block;
        width: 190px;
        margin: auto;
        }
      }
    }
    .page4::-webkit-scrollbar {
      display: none;
    }
    .page__nav {
      height: calc(100vh - 70px);
      width: 100%;
      top: 0;
      left: 0;
    }

    .video__cont {
      height: 100%;
      width: 100%;
      background-color: white;
    }
    .video__container {
      .video__play {
        height: 80px;
        width: 80px;
      }
    }
    
    header {
      height: 50px;
      .header__img {
          height: 40px;
      }
    }

    .footer {
      height: 20px;
    }

    .button__contaier--homeMobile {
      position: static;
      width: 170px;
      text-align: center;
      margin:  15px auto 30px;
    }
    .button--home {
      font-size: 12px;
      text-align: center;
    }

    .button__container--wineryMobile { 
      position: absolute;
      right: 20px;
      bottom: 20px;
      width: 220px;
      padding: 5px;
      text-align: center;
      margin:  10px auto;
    }

    .button--wineryMobile {
      padding: 5px 10px;
      font-size: 12px;
    }

    .button__container--winery { 
      left: 50%;
      transform: translateX(-50%);
      width: 150px !important;
      padding: 5px;
      text-align: center;
    }
    .button__container--testing {
      position: static;
      display: block !important;
      margin: 0 auto 20px;
    }

    .button__container--visite{
      width: 220px !important;
      margin: 30px auto;
      text-align: center;
    }
   .button--visite {
    padding-left: 0px;
   }
    

    .button--winery{
      display: block;
      text-align: center;
      padding:  10px 0;
    }
    .button__song {
      bottom: 30px;
      height: 40px;
      width: 40px;
    }
    .button__song--muted {
      border : solid 1px vars.$color6;
      span {
        position: absolute;
        transform: rotate(-25deg);
        display: block;
        height: 1px;
        width: 40px;
        background-color: vars.$color6;
      }
    }
    
  }